services:
  db:
    container_name: "workoutDB"
    image: postgres:latest
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - "./database/postgres-data:/var/lib/postgresql/data:rw"
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "lol"
  test_db:
    container_name: "workoutDB_test"
    image: postgres:latest
    restart: unless-stopped
    ports:
      - "5433:5432"
    volumes:
      - "./database/postgres-test-data:/var/lib/postgresql/data:rw"
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "lol"
